/* Estilos generales */
body {
    font-family: 'Akaya Telivigala', cursive;
    background-color: #dcdcdc; /* Gris claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box, .register-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.textbox {
    margin-bottom: 15px;
}

.textbox input, .textbox select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox input {
    margin-right: 10px;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #4cae4c;
}

.footer {
    margin-top: 20px;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.link {
    color: #5cb85c;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
